<div class="a-section --flatTop">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2>Documetation</h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam nihil expedita, ullam
                    enim aliquam excepturi doloremque unde maiores delectus minus quis magni ducimus non porro.
                    Numquam repellendus eos porro quam eveniet magni, ipsum quos ducimus nemo magnam, ratione
                    vitae atque deleniti? Illo, dolorum sed tempore doloremque aspernatur omnis magni
                    voluptatem.
                </p>
            </div>
            <div class="col-5 offset-1">
                <ul class="a-iconbtnList">
                    <li>
                        <div class="m-iconbtn">
                            <div class="m-iconbtn__icon">
                                <svg class="icon icon--linkedin">
                                    <use xlink:href="#development_01" />
                                </svg>
                            </div>
                            <div class="m-iconbtn__content">
                                <h3>Developer in focus</h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas provident
                                    cumque
                                    libero sint aliquam ipsa et expedita reiciendis, doloribus quaerat?
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="m-iconbtn">
                            <div class="m-iconbtn__icon">
                                <svg class="icon icon--linkedin">
                                    <use xlink:href="#development_01" />
                                </svg>
                            </div>
                            <div class="m-iconbtn__content">
                                <h3>Developer in focus</h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas provident
                                    cumque
                                    libero sint aliquam ipsa et expedita reiciendis, doloribus quaerat?
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>