<section class="a-section">
    <div class="container">
        <div class="row">

            <div class="col-10 mx-auto">

                <div class="row">
                    <div class="col-6">
                        <h3>This is how you do this</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel veritatis aliquam odit quae
                            voluptatem
                            repellat quos nostrum nam sequi quod.</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati consequatur quas quam
                            molestiae
                            maxime, eos iusto adipisci maiores quia, itaque quo accusantium porro a dolore animi dicta
                            aut amet
                            sed.</p>
                    </div>
                    <div class="col-6">
                        <div class="a-code">
                            <codemirror v-model="code"></codemirror>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>