<section class="a-section">
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto">
                <div class="m-excards">
                    <div class="m-excards__cards">
                        <div class="m-excards__card [ is-collapsed ] ">
                            <div class="m-excards__cardInner [ js-expander ]">
                                <span>Pixney</span>
                                <i class=""></i>
                            </div>
                            <div class="m-excards__cardExpander">
                                <i class="[ js-collapser ]">
                                    close
                                </i>
                                <div class="row">
                                    <div class="col-4">
                                        We love using Pyrocm
                                    </div>
                                    <div class="col-8">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, dignissimos architecto enim nobis voluptatum similique esse quisquam ducimus unde quis!</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, dignissimos architecto enim nobis voluptatum similique esse quisquam ducimus unde quis!</p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <div class="m-excards__card [ is-collapsed ] ">
                            <div class="m-excards__cardInner [ js-expander ]">
                                <span>Company</span>
                                <i class=""></i>
                            </div>
                            <div class="m-excards__cardExpander">
                                <i class="[ js-collapser ]">
                                    close
                                </i>
                                Expander
                            </div>
                        </div>

                        <div class="m-excards__card [ is-collapsed ] ">
                            <div class="m-excards__cardInner [ js-expander ]">
                                <span>Company</span>
                                <i class=""></i>
                            </div>
                            <div class="m-excards__cardExpander">
                                <i class="[ js-collapser ]">
                                    close
                                </i>
                                Expander
                            </div>
                        </div>

                        <div class="m-excards__card [ is-collapsed ] ">
                            <div class="m-excards__cardInner [ js-expander ]">
                                <span>Company</span>
                                <i class=""></i>
                            </div>
                            <div class="m-excards__cardExpander">
                                <i class="[ js-collapser ]">
                                    close
                                </i>
                                Expander
                            </div>
                        </div>

                        <div class="m-excards__card [ is-collapsed ] ">
                            <div class="m-excards__cardInner [ js-expander ]">
                                <span>Company</span>
                                <i class=""></i>
                            </div>
                            <div class="m-excards__cardExpander">
                                <i class="[ js-collapser ]">
                                    close
                                </i>
                                Expander
                            </div>
                        </div>

                        <div class="m-excards__card [ is-collapsed ] ">
                            <div class="m-excards__cardInner [ js-expander ]">
                                <span>Company</span>
                                <i class=""></i>
                            </div>
                            <div class="m-excards__cardExpander">
                                <i class="[ js-collapser ]">
                                    close
                                </i>
                                Expander
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
