<header class="m-header">
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="m-header__wrapper">
                    <div class="row">
                        <div class="col-8 m-header__content">
                            <div class="m-grbkg">
                                <div class="m-grbkg__background"></div>
                                <svg class="m-grbkg__cover">
                                    <use xlink:href="#grbkg_logo_pyro_text" />
                                </svg>
                            </div>
                            <h1>
                                Rapidly build Laravel websites & applications
                            </h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Ad sunt rerum eius esse
                                eveniet sint earum totam perspiciatis ut sit?
                            </p>
                            <p>
                                <a class="a-button --large" href="#"
                                    >Get started</a
                                >
                            </p>
                        </div>
                        <div class="col-4 m-header__sign">
                            <div class="m-grbkg">
                                <div class="m-grbkg__background"></div>
                                <svg class="m-grbkg__cover">
                                    <use xlink:href="#grbkg_logo_pyro" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
