<section class="a-skew animatedGradient beta">
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto">
                <h2 class="a-title --xlarge">Rapidly develop custom project requirements</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <ul class="m-iconlist">
                    <li>
                        <div class="">
                            <p>
                                <span>Simple and intuitive</span>
                            </p>
                            <h3 class="m-iconlist__title">Free and open source</h3>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas quod, odit
                                dicta rerum excepturi minus officia optio alias quas vel.
                            </p>
                            <p>
                                <a class="a-button" href="#">
                                    See all features
                                </a>
                            </p>
                        </div>
                        <div class="">
                            <svg class="icon icon--linkedin">
                                <use xlink:href="#book_01" />
                            </svg>
                        </div>
                    </li>
                    <li>
                        <div class="">
                            <p>
                                <span>Simple and intuitive</span>
                            </p>
                            <h3 class="m-iconlist__title">Developer in focus</h3>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas quod, odit
                                dicta rerum excepturi minus officia optio alias quas vel.
                            </p>
                            <p>
                                <a class="a-button" href="#">
                                    See all features
                                </a>
                            </p>
                        </div>
                        <div class="">
                            <svg class="icon icon--linkedin">
                                <use xlink:href="#book_01" />
                            </svg>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-6">
                <ul class="m-iconlist">
                    <li>
                        <div class="">
                            <p>
                                <span>Simple and intuitive</span>
                            </p>
                            <h3 class="m-iconlist__title">Seamless integration with Laravel</h3>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas quod, odit
                                dicta rerum excepturi minus officia optio alias quas vel.
                            </p>
                            <p>
                                <a class="a-button" href="#">
                                    See all features
                                </a>
                            </p>
                        </div>
                        <div class="">
                            <svg class="icon icon--linkedin">
                                <use xlink:href="#book_01" />
                            </svg>
                        </div>
                    </li>
                    <li>
                        <div class="">
                            <p>
                                <span>Simple and intuitive</span>
                            </p>
                            <h3 class="m-iconlist__title">Small sites to large applications - one tool to rule
                                them all.</h3>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas quod, odit
                                dicta rerum excepturi minus officia optio alias quas vel.
                            </p>
                            <p>
                                <a class="a-button" href="#">
                                    See all features
                                </a>
                            </p>
                        </div>
                        <div class="">
                            <svg class="icon icon--linkedin">
                                <use xlink:href="#book_01" />
                            </svg>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>