<section class="a-section">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="m-iconbtn">
                            <div class="m-iconbtn__icon">
                                <svg class="icon icon--linkedin">
                                    <use xlink:href="#book_01" />
                                </svg>
                            </div>
                            <div class="m-iconbtn__content">
                                <h3>Hey Ho Silver</h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas provident cumque
                                    libero sint aliquam ipsa et expedita reiciendis, doloribus quaerat?
                                </p>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum dolor similique rem
                                    culpa iusto quas dignissimos quos a cupiditate possimus.</p>
                                <p>
                                    <button class="a-button --antiquewhite">
                                        Click me
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="m-iconbtn">
                            <div class="m-iconbtn__icon">
                                <svg class="icon icon--linkedin">
                                    <use xlink:href="#development_01" />
                                </svg>
                            </div>
                            <div class="m-iconbtn__content">
                                <h3>Developer in focus</h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas provident cumque
                                    libero sint aliquam ipsa et expedita reiciendis, doloribus quaerat?
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        