<div class="section a-section">

    <div class="container">


            <div class="row">

                    <div class="col-2">
                            <a class="m-minicard --large">
                                    <svg class="">
                                            <use xlink:href="#laravel" />
                                        </svg>
                                <button class="a-button --small --pink">Click me</button>
                            </a>
                    </div>
                    <div class="col-2">
                            <a class="m-minicard --large">
                                    <svg class="">
                                            <use xlink:href="#composer" />
                                        </svg>
                                <button class="a-button --small --antiquewhite">Click me</button>
                            </a>
                    </div>
                    <div class="col-2">
                            <a class="m-minicard --large">
                                    <svg class="">
                                            <use xlink:href="#vue" />
                                        </svg>
                                <button class="a-button --small --antiquewhite">Click me</button>
                            </a>
                    </div>
                    
                </div>


    </div>
</div>