.m-excards {
    max-width: 1000px;
    margin: 5em auto;

    background: green;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
    &__cards {
        display: flex;

        padding: 15px;

        background:#f3f3f3;;

        flex-flow: row wrap;
    }

    &__card {
        width: calc((100% / 3) - 30px);
        margin: 15px;

        transition: all 0.2s ease-in-out;

        //background: blue;

        @media screen and (max-width: 991px) {
            width: calc((100% / 2) - 30px);
        }

        @media screen and (max-width: 767px) {
            width: 100%;
        }

        &:hover &Inner {
            background-color: white;
            transform: scale(1.05);
        }

        &Inner {
            background: red;
            width: 100%;
            padding: 30px;
            position: relative;
            cursor: pointer;

            background-color: #fff;
            color: #000;
            font-size: 1.5em;
            text-transform: uppercase;
            text-align: center;

            transition: all 0.2s ease-in-out;

            &:after {
                transition: all 0.3s ease-in-out;
            }
        }
        &Expander {
            background: black;
            transition: all 0.2s ease-in-out;
            background-color: $pink;
            width: 100%;
            position: relative;

            display: flex;
            justify-content: center;
            align-items: center;

            text-transform: uppercase;
            color: #fff;
            font-size: 1.5em;
        }

        &.is-collapsed {
           // background:black;
            .m-excards__cardInner {
                &:after {
                    content: "";
                    opacity: 0;
                }
            }
            .m-excards__cardExpander {
                max-height: 0;
                min-height: 0;
                overflow: hidden;
                margin-top: 0;
                opacity: 0;
            }
           
        }

        &.is-expanded {
            .m-excards__cardInner {
                background-color: turquoise;

                &:after {
                    content: "";
                    opacity: 1;
                    display: block;
                    height: 0;
                    width: 0;
                    position: absolute;
                    bottom: -30px;
                    left: calc(50% - 15px);
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-bottom: 15px solid $pink;
                }
            }
            .m-excards__cardExpander {
                max-height: 1000px;
                min-height: 200px;
                overflow: visible;
                margin-top: 30px;
                opacity: 1;
            }

            &:hover {
                &Inner {
                    transform: scale(1);
                }
            }
        }

        &.is-inactive {
            .m-excards__cardInner {
                pointer-events: none;
                opacity: 0.5;
            }
            &:hover 
            {
                .m-excards__cardInner 
                {
                    background-color: tomato;
                    transform: scale(1);
                }
            }
        }
    }
}


//Expander Widths

//when 3 cards in a row
@media screen and (min-width: 992px) {

  .m-excards__card:nth-of-type(3n+2) .m-excards__cardExpander {
    margin-left: calc(-100% - 30px);
  }
  .m-excards__card:nth-of-type(3n+3) .m-excards__cardExpander {
    margin-left: calc(-200% - 60px);
  }
  .m-excards__card:nth-of-type(3n+4) {
    clear: left;
  }
  .m-excards__cardExpander {
    width: calc(300% + 60px);
  }

}

//when 2 cards in a row
@media screen and (min-width: 768px) and (max-width: 991px) {

.m-excards__card:nth-of-type(2n+2) .m-excards__cardExpander {
    margin-left: calc(-100% - 30px);
  }
  .m-excards__card:nth-of-type(2n+3) {
    clear: left;
  }
  .m-excards__cardExpander {
    width: calc(200% + 30px);
  }

}


