
.m-header
{
    display: flex;

    height: 700px;
    *
    {
        text-align: left;

        color: #000;
    }
    h1
    {
        margin: 2.5rem 0 1rem;
    font-size: 2.5rem;
    line-height: 1.1;
    }
    p
    {
        font-size: 1.3rem;
    }
    .a-button
    {
        margin-top: 3rem;

        color: #fff !important;
        background: $blue;
    }
    .container > .row
    {
        height: 100%;
    }
    &__wrapper
    {
        display: flex;
        flex-direction: column;

        height:100%;

        justify-content: center;
    }
    &__gradientCover
    {
        position: absolute;

        width: 100vw;
        height: auto;
    }

    &__content 
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top:100px;
    }
}
