
.m-header
{
    display: flex;

    height: 100vh;
    *
    {
        text-align: left;

        color: #000;
    }
    h1
    {
        font-size: 3.5rem;
        line-height: 1.1;

        margin-bottom: 1rem;
    }
    p
    {
        font-size: 1.3rem;
    }
    .a-button
    {
        margin-top: 2.5rem;

        color: #fff !important;
        background: $blue;
    }
    .container > .row
    {
        height: 100%;
    }
    &__wrapper
    {
        display: flex;
        flex-direction: column;

        height: calc(100% - 100px);

        justify-content: center;
    }
    &__gradientCover
    {
        position: absolute;

        width: 100vw;
        height: auto;
    }
}
.m-header.--gradient
{
    -webkit-animation: a-gradient 28s ease infinite;
       -moz-animation: a-gradient 28s ease infinite;
         -o-animation: a-gradient 28s ease infinite;
            animation: a-gradient 28s ease infinite;

    background: linear-gradient(337deg, #838dff, #cd74ff, #ff8ac1);
    background-size: 600% 600%;

    @-webkit-keyframes a-gradient
    {
        0%
        {
            background-position: 0 79%;
        }
        50%
        {
            background-position: 100% 22%;
        }
        100%
        {
            background-position: 0 79%;
        }
    }
    @-moz-keyframes a-gradient
    {
        0%
        {
            background-position: 0 79%;
        }
        50%
        {
            background-position: 100% 22%;
        }
        100%
        {
            background-position: 0 79%;
        }
    }
    @-o-keyframes a-gradient
    {
        0%
        {
            background-position: 0 79%;
        }
        50%
        {
            background-position: 100% 22%;
        }
        100%
        {
            background-position: 0 79%;
        }
    }
    @keyframes a-gradient
    {
        0%
        {
            background-position: 0 79%;
        }
        50%
        {
            background-position: 100% 22%;
        }
        100%
        {
            background-position: 0 79%;
        }
    }
}

.m-header.--gradient-beta
{
    -webkit-animation: a-gradient-beta 28s ease infinite;
       -moz-animation: a-gradient-beta 28s ease infinite;
         -o-animation: a-gradient-beta 28s ease infinite;
            animation: a-gradient-beta 28s ease infinite;

    background: linear-gradient(328deg, #838dff, #cd74ff, #ff8ac1);
    background-size: 600% 600%;

    @-webkit-keyframes a-gradient-beta
    {
        0%
        {
            background-position: 0 11%;
        }
        50%
        {
            background-position: 100% 90%;
        }
        100%
        {
            background-position: 0 11%;
        }
    }
    @-moz-keyframes a-gradient-beta
    {
        0%
        {
            background-position: 0 11%;
        }
        50%
        {
            background-position: 100% 90%;
        }
        100%
        {
            background-position: 0 11%;
        }
    }
    @-o-keyframes a-gradient-beta
    {
        0%
        {
            background-position: 0 11%;
        }
        50%
        {
            background-position: 100% 90%;
        }
        100%
        {
            background-position: 0 11%;
        }
    }
    @keyframes a-gradient-beta
    {
        0%
        {
            background-position: 0 11%;
        }
        50%
        {
            background-position: 100% 90%;
        }
        100%
        {
            background-position: 0 11%;
        }
    }
}
