{% htmlcompress %}
<!doctype html>
<!--[if lt IE 7]>
<html class="nojs ms lt_ie7" lang="en"><![endif]-->
<!--[if IE 7]>
<html class="nojs ms ie7" lang="en"><![endif]-->
<!--[if IE 8]>
<html class="nojs ms ie8" lang="en"><![endif]-->
<!--[if gt IE 8]>
<html class="nojs ms" lang="en"><![endif]-->
<html>

<head>
    {% include "theme::partials/metadata" %}
</head>

<body>
    {# {% include "theme::partials/header" %} #}
    <div id="app">
        {# <nav>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="m-grbkg">
                            <div class="m-grbkg__background"></div>
                            <svg class="m-grbkg__cover">
                                <use xlink:href="#grbkg_logo_pyro" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </nav> #}

        {% include "theme::blocks/m-header" %}
        {% include "theme::blocks/m-iconlist" %}
        {% include "theme::blocks/minicard" %}
        {% include "theme::blocks/m-iconbtn" %}
        {% include "theme::blocks/a-iconbtnList" %}
        
        {# Buttons #}
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <button class="a-button --small">Small Button</button>
                </div>
                <div class="col-4">
                    <button class="a-button">Regular Button</button>
                </div>
                <div class="col-4">
                    <button class="a-button">Large Button</button>
                </div>
                
            </div>
            <div class="row">
                <div class="col-4">
                    <a class="a-link" href="#">Small Link
                    </a>
                </div>
                <div class="col-4">
                    <a class="a-link" href="#">Regular Link
                    </a>
                </div>
                <div class="col-4">
                    <a class="a-link" href="#">Large Link
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <ol class="m-ol">
                        <li>Ordered List Item
                        </li>
                        <li>Ordered List Item
                        </li>
                        <li>Ordered List Item
                        </li>
                    </ol>
                </div>
                <div class="col-6">
                    <ul class="m-ul">
                        <li>Un-Ordered List Item
                        </li>
                        <li>Un-Ordered List Item
                        </li>
                        <li>Un-Ordered List Item
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <section class="a-skew">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Buttons
                        </h2>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex earum nobis aliquid. Inventore
                            corrupti,
                            voluptatibus deleniti asperiores libero debitis, illo, autem ullam soluta ratione eum. Hic
                            odio
                            praesentium, nemo exercitationem alias eveniet ratione placeat, dolorum nobis sed minima
                            consequuntur
                            deserunt!
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {# {% include "theme::partials/footer" %} #}
    {% include "theme::partials/assets" %}
</body>

</html>
{% endhtmlcompress %}